<ion-view view-title="Choose a puzzle">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Choose a puzzle</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row" ng-repeat="levels in availableLevels">
            <div class="col gallery-row" ng-repeat="level in levels">
                <a href="#/puzzle/select/{{ level.puzzle.src }}" ng-if="level.canPlay">
                    <img ng-src="img/{{ level.puzzle.src }}" class="img-responsive" />
                </a>
                <a ng-if="!level.canPlay">
                    <div class="locked-layer">
                        <img class="locked img-responsive" ng-src="img/{{ level.puzzle.src }}" />
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
