<ion-view view-title="Sliding Puzzle">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Sliding Puzzle</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-90">
                <ul class="list">
                    <li class="item"><a href="#/gallery">Play!</a></li>
                    <li class="item"><a id="link_connectfb" href="#">Connect with FB</a></li>
                    <li class="item"><a href="#">Credits</a></li>
                </ul>
            </div>
            <div class="col col-90">
                <pre id="facebookApiResult"></pre>
            </div>
        </div>
    </ion-content>
</ion-view>