<div class="row">
    <div class="col-xs-12">
        <h3>SLIDING PUZZLE</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"><a href="#/gallery">Play!</a></li>
            <li class="list-group-item"><a id="link_connectfb" href="#">Connect with FB</a></li>
            <li class="list-group-item"><a href="#">Credits</a></li>
        </ul>
    </div>
    <div class="col-xs-12">
        <pre id="facebookApiResult"></pre>
    </div>
</div>
