<ion-view view-title="Sliding Puzzle">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Sliding Puzzle</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-right" href="#/gallery">Play!
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-right" href="#" >Connect with FB
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        <div class="row">
            <pre id="facebookApiResult"></pre>
        </div>
    </ion-content>
</ion-view>