<ion-view view-title="Select a difficulty">
    <ion-content>
        <div class="row">
            <img ng-src="{{ fullSrc }}" class="img-responsive center-block" style="max-height: 50vh"/>
        </div>
        <div class="row">
            <div class="col col-50">
                <a href="#{{ playableLevels.indexOf(3) >= 0 ? ('/puzzle/play/3/' + puzzle.src ) : '' }}"
                   class="button button-positive button-block play-btn" role="button">Play 3x3</a>
            </div>
            <div class="col col-50">
                <a href="#{{ playableLevels.indexOf(4) >= 0 ? ('/puzzle/play/4/' + puzzle.src ) : '' }}"
                   class="button button-positive button-block play-btn {{ playableLevels.indexOf(4) == -1 ? 'disabled' : '' }}" role="button">Play 4x4</a>
            </div>
        </div>
    </ion-content>
</ion-view>