* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
    width:100%;
}

#container {
    background-color: #ccc;
    padding-left: 5vw;
    padding-right:5vw;
}

#original {
    max-height: 75vh;
}

.matrix-row {
    padding: 0;
}

.matrix-cell {
    float: left;
    border: 1px solid #aaa;
}

.matrix-cell-3 {
    max-height: 25vh;
    max-width: 25vw;
}

.matrix-cell-4 {
    max-height: 18.75vh;
    max-width: 18.75vw;
}

.matrix-cell.selected {
    border: 1px red solid;
}

.locked {
    opacity: 0.5;
}

.locked-layer {
    position:relative;
    background:url('../img/lock.png') no-repeat center;
    z-index:999;
    display:block;
    background-size: 50%
}

.gallery-row {
    margin-bottom: 1%;
}

.play-btn {
    margin: 1%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}